project.assets.json
project.nuget.cache
Homework task 1.csproj
Homework task 1.deps.json
Homework task 1.dll
Homework task 1.pdb
Homework task 1.runtimeconfig.json
Homework task 1.csproj.nuget.g.props
Homework task 1.csproj.nuget.dgspec.json
Homework task 1.csproj.nuget.g.targets
